---
import { getCollection } from "astro:content";

const offers = (await getCollection("offers")).sort(
  (a, b) => a.data.price - b.data.price
);
---

<div
  class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 justify-center gap-12 py-12"
>
  {
    offers.map((offer) => (
      <div
        class="w-full bg-gray-800 rounded-lg shadow-lg overflow-hidden transition-transform border-2 border-yellow-500 hover:scale-105 flex flex-col cursor-pointer"
        onclick={`window.location.href='/offres/${offer.slug}'`}
      >
        <div class="px-6 py-8 bg-indigo-700 text-white text-center flex-shrink-0">
          <h3 class="text-2xl font-bold">{offer.data.title}</h3>
          <div class="mt-4 text-5xl text-green-600 font-extrabold">
            {offer.data.price} €
          </div>
          <p class="mt-8 text-indigo-200">{offer.data.description}</p>
          <div class="mt-4 bg-indigo-800 rounded-lg p-3 shadow-inner">
            <p class="text-indigo-200 font-semibold">+ Abonnement mensuel :</p>
            <p class="text-white text-xl font-bold">
              {offer.data.montlyFee} / mois
            </p>
            <p class="text-indigo-300 text-sm">(hébergement & maintenance)</p>
          </div>
        </div>
        <div class="flex justify-center mt-4 text-red-500">
          {offer.data.delay}
        </div>
        <div class="px-6 py-8 flex flex-col flex-grow">
          <ul class="space-y-4 flex-grow">
            {offer.data.features.map((feature: string) => (
              <li class="flex items-center text-gray-300">
                <svg
                  class="w-5 h-5 text-green-400 mr-2 flex-shrink-0"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
                <span>{feature}</span>
              </li>
            ))}
          </ul>
          <a
            href={`/offres/${offer.slug}`}
            class="mt-8 w-full bg-indigo-600 text-white py-2 px-4 rounded-lg font-semibold hover:bg-indigo-500 transition-colors text-center"
          >
            Détails de l'offre
          </a>
        </div>
      </div>
    ))
  }
</div>
